{% extends "base.html" %} {% block title %}User Type - {{ type_operation }}{% endblock %} 
{% block content%}
<form method="POST"> 

  <input type="text" name="user_type_id" id="user_type_id" class="form-control" value="{{user_type_id}}" style="display:none"></input>
  <input type="text" name="type_operation" id="type_operation" class="form-control" value="{{type_operation}}" style="display:none"></input>

  <h1 align="left">User Type - {{ type_operation }}</h1>  
  <input type="text" id="user_type_id" name="user_type_id" class="form-control" value=" {{ user_type_id }} " style="display:none"/>
  <div class="form-group">
    <label for="user_type_name">User type name:</label>
    <input type="text" id="user_type_name" name="user_type_name" class="form-control" value="{{ user_type_name }}"/>
  </div>  
  <br />  
  <div align="center">
    <button type="submit" class="btn btn-primary">Confirm</button>
  </div>
  <br />
    
</form>
{% endblock %}
